doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet",
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css",
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO",
    crossorigin="anonymous")
  body.bg-dark.text-light
    nav.navbar.navbar-dark.bg-dark
      div.navbar-header
        a(href="/").navbar-brand.nav-link 予定調整くん
      ul.navbar-nav
        if user
          li.nav-item
            a(href="/logout").nav-link #{user.user.name} をログアウト
        else
          li.nav-item
            a(href="/login").nav-link ログイン
    div.container
      block content
    script(src="/javascripts/bundle.js")
